DJANGO_SECRET_KEY=my_secret
DJANGO_ENV="local"
DEBUG=True
WEB_BASE_URL=http://localhost:3000

DB_NAME=digital_event_invitation
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=123456789
EMAIL_PORT=587
EMAIL_HOST=smtp.gmail.com